<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item">
            <h2>
              Our Address  
            </h2>
            <p>121, Clear Water Bay Road</p>
            <p>Clear Water Bay, Kowloon</p>
            <p>HONG KONG</p>
            <p> 
                <i class="icon ion-android-call" style="font-size: 20px;"></i>
                    : +852 1234 5678 
            </p>
            <p>   
                <i class="icon ion-printer" style="font-size: 20px;"></i>
                    : +852 8765 4321  
            </p>
            <p>    
                <i class="icon ion-android-mail" style="font-size: 20px;"></i>
                    : <a href="">confusion@food.net</a>   
            </p>
        </div>
        <div class="button-bar">
            <button class="button button-positive">
                <i class="icon ion-android-call"></i> Call
            </button>

            <button class="button button-calm">
                <i class="icon ion-social-skype-outline"></i> Skype
            </button>

            <button class="button button-balanced">
                <i class="icon ion-android-mail"></i> Email
            </button>
        </div>
    </div>
    
  </ion-content>
</ion-view>
